.loader {
    margin: 100px 0px;
    width: 70px;
    height: 70px;
    background-color: #2196F3;
    animation: rotate 1s infinite linear;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}